body {
	background-image: url("star.jpg");
	background-color: gray;
}

h1 {
	color: orange;
	background: black;
	letter-spacing: 5px;
	text-transform: uppercase;
	word-spacing: 10px;
	text-align: center;
	font-family: Impact;
	text-decoration: underline;
	font-size: 50px;
	font-style: italic;
	font-weight: bold;
}

h2 {
	color: aqua;
	text-align: center;
	font-family: 'DejaVu Math TeX Gyre';
}

.Intro {
	border: 10px ;
}

#test {
	border: 2px solid whitesmoke;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.flex{
	display: flex;
	flex-flow: row nowrap;
}

.ImageObi{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: auto;
}

.ImageAni{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: auto;
}

.ImageQui {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: auto;
}

.JediBlue {
	color: #00ff90;
	font-family: 'DejaVu Math TeX Gyre';
}

.lightBox {
	background-color: lightblue;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	width: 140px;
	border: 5px solid aliceblue;
	padding: 10px;
	margin: 10px;
}
